// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

header {
  padding: 20px;
  background: image-url( 'sunset.jpg' ) !important;
  background-size: 100% 100% !important;
  opacity: 0.9;
}
